.search-bar{
  position: relative;
  top: 100px;
  display: flex;
  justify-content: center;
}
.search{
  padding: 8px 10px;
  font-style: oblique;
  font-size: medium;
  border-radius: 5px;
  border: none;
  margin-right: 10px;
}
.btn{
  padding: 0px 20px;
  font-size: medium;
  background-color:#426cf8;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.4s;
}
.btn:hover{
  background-color: #ff5b84;
  color: white;
}

.container{ 
  width: 450px;
  position: absolute;
  transform: translate(-59%,-40%);
  left: 51%;
  top: 51%;
}
.container *{
  color: #ffffff;
 
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container-card{
  width: 100%;
  padding: 50px 20px;
  border: 1.5px solid rgba(255,255,255,0.06);
  box-shadow: 0 25px 30px rgba(0,0,0,0.7); 
  backdrop-filter: blur(12px);
  border-radius: 10px;
}
.shape1{
  height: 200px;
  width: 200px;
  position: absolute;
  background: linear-gradient(
      45deg,
      #ff5b84,
      #eb3461
  );
  border-radius: 50%;
  z-index: -1;
  bottom: 100px;
  right: -100px;
}
.shape2{
  height: 200px;
  width: 200px;
  position: absolute;
  background: linear-gradient(
      135deg,
      #426cf8,
      #3ebdf0
  );
  border-radius: 50%;
  top: 100px;
  left: -100px;
  z-index: -1;
}
.head-text{
  position: relative;
  font-size: 23px;
  text-transform: uppercase;
  color: #c5c5c5;
  text-align: center;
}
.wrapper{
  text-align: center;
}
.wrapper p{
  font-size: medium;
  
}
.search-container{
  text-align: center;
  opacity: 0.7;
  padding: 10px;
  border-radius: 10px;
  background-color: white;
  width: 180px;
  height: 100px;
  position: absolute;
  transform: translate(-50%,-50%);
  left: 47%;
  top:27%;
  overflow-y: scroll;
 
}
@media(max-width: 700px){
  .search-container{
   position: absolute;
   top: 28%;
   left: 47%;
  }
}
.search-container::-webkit-scrollbar{
  border-radius: 20px;
  background:#426cf8;
  
}
.search-container::-webkit-scrollbar-thumb{
  background:#eb3461;
  border-radius: 30px;
}
.search-container div{
  background-color: lavenderblush;
  margin-bottom: 10px;
  padding: 10px;
  cursor: pointer;
}