*{
color: white;

}
 .sunTime{
   /* position: absolute; */
  /* background-color: rgba(255, 182, 80, 0.7) ; */
  height: 100vh;
  /* background: radial-gradient(at 40% 70%, #820, #610, #400, #100); */
 /* width: 100%;
 
  background: radial-gradient(circle at bottom, #ff9933 10%, transparent 80%);

*/
  animation: sunrise 10s  linear forwards; 
  

  
 }
 
 @keyframes sunrise{
  0%{
    background-color: #11131e;
  }
  100%{
    background:  #ffc183 ;
  }
 }

.sunRise{
  position: sticky;
  top: 56%;
  left: 47%;
  width: 100px;
  height: 100px;
  background-color:#ff9933;
  border-radius: 50%;
  animation: sunriseAnimation 10s linear forwards;
}
@keyframes sunriseAnimation {
  0% {
    box-shadow: 0 10px 30px rgba(255, 153, 51,0.2);
    
  }
  100% {
    top: 50px;
    left: 210px;
    background:  rgb(255, 153, 51) ;
    box-shadow: 0 10px 30px rgba(255, 159, 42, 0.9); 
  }
}
.header{
  margin-top: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column; 
}
.Timer-card{
  font-size: medium;
  margin-top: 20px;
  margin-left: 20px;
  max-width: 150px;
  border-radius: 30px;
  box-shadow: 0 10px 30px rgba(66,108,248,0.9); 
  text-align: center;
  border: none;
  height: 60px;
  overflow: hidden;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  transition: 0.5s;
}
.Timer{
  
  border-radius: 30px;
  padding:20px;
  font-size: large;
  
  border: 1.5px solid rgba(255,255,255,0.06);
  box-shadow: 0 25px 30px rgba(0,0,0,0.7); 
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.Timer-card:hover{
  height: 100px;
  background-color: rgb(235, 52, 97);
  box-shadow: 0 10px 30px rgba(235, 52, 97,0.7);
  margin-top: 10px;
}
.Date{
  margin-top: 10px;
}
.search-bar{
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;

}

.search{
  padding: 8px 10px;
  font-size: medium;
  border-radius: 5px;
  border: none;
  margin-right: 10px;
  color: #000;
}
.btn{
 padding: 0px 20px;
  font-size: medium;
  background-color:#426cf8;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.4s; 
  align-self:stretch;
}
.btn:hover{
  background-color: #ff5b84;
  color: white;
}

.search-container{
  margin-top: 10px;
  flex-basis: 400px;
  background-color: antiquewhite;
  max-height: 170px;
  overflow-y: scroll;
  border-radius: 10px;
  
 
}

.search-container::-webkit-scrollbar{
  border-radius: 20px;
  background:#426cf8;
  
}
.search-container::-webkit-scrollbar-thumb{
  background:#eb3461;
  border-radius: 30px;
}
.search-container div{
  padding: 10px;
  background-color: #ff5b84;
  margin: 10px;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.4s;
  opacity: 0.5;
}
.search-container div:hover{
  background-color: #426cf8;
  opacity: 1;
}
.card-head{
    margin-top: 100px;
}

.container{ 
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
    
}
.container *{
  color: #ffffff;
 
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container-card{
  position:absolute;
  justify-self: flex-end;
  border: 1.5px solid rgba(255,255,255,0.06);
  box-shadow: 0 25px 30px rgba(0,0,0,0.7); 
  backdrop-filter: blur(12px);
  border-radius: 10px;
  order: 2;
  min-height: 190px;
  min-width: 300px;
  padding: 10px;
  text-align: center;
}
.shape1{
  margin-top: 25px;
  height: 200px;
  width: 200px;
  background: linear-gradient(
      45deg,
      #ff5b84,
      #eb3461
  );
  border-radius: 50%;
  order: 1;

}
.sun{
  cursor: pointer;
}
/* .sunRise{
  
  background-color: red;
  height: 100vh;
} */