*{
color: white;

}

 .sunTime{
  
  height: 100vh;

  animation: sunrise 5s  linear forwards; 
  

  
 }
 @keyframes sunrise{
  0%{
    background-color: #11131e;
  }
  100%{
    background:  #ffc183 ;
  }
 }
 

.sunRise{
  position: sticky;
 
  top: 30px;
  left: 150px;
  width: 70px;
  height: 70px;
  background-color:#ff9933;
  border-radius: 50%;
  animation: sunriseAnimation 5s linear forwards;

}
@keyframes sunriseAnimation {
  0% {
    
    height: 0px;
    width: 0px;
  
    background:  rgba(255, 153, 51,0.7) ;
    box-shadow: 0 10px 30px rgba(255, 159, 42, 0.1);
  }
  100% {
    top:10px;
    left: 70%;
    background:  rgba(255, 153, 51,0.9) ;
    box-shadow: 0 10px 30px rgba(255, 159, 42, 1); 
    
  }
}
.moonTime{
  
  height: 100vh;
  animation: sunset 5s  linear forwards;
  
}
@keyframes sunset{
  0%{
    background:  #ffc183 ;
  }
  100%{
  
    background-color: #11131e;
  }
 }
 .sunSet{
  position: sticky;
  top:10px;
  left: 70%;
  width: 70px;
  height: 70px;
  background-color:#ff9933;
  border-radius: 50%;
  animation: sunsetAnimation 5s linear forwards;
}
@keyframes sunsetAnimation {
  0% {
    box-shadow: 0 10px 30px rgba(255, 159, 42, 0.9);
  }
  100% {
    height: 0px;
    width: 0px;
    top: 30px;
    left: 150px;
    background:  rgba(255, 153, 51,0.1) ;
    box-shadow: 0 10px 30px rgba(255, 153, 51,0.2);
  }
}

.rainy{
  position: absolute;
  width: 100%;
  top: -5px; 
  height: 98vh;
  z-index: 1;
  background: url(rain-3.png);
  
  animation: rain 0.4s linear infinite;  
}
@keyframes rain{
  0%{
    background-position: 0% 0%;
  }
  100%{
    background-position: 20% 100%;
  }
}
.rainy::before{
  content: "";
  position: absolute;
  top:20px;
  width: 100%;
  height: 100%;
  background: url(lightining.png);
  background-size: cover;
  mix-blend-mode:lighten;
  transform: rotate(180deg);
  animation: lighting 4s linear infinite;
  opacity: 1;
}
@keyframes lighting{
  0%{
    opacity: 0;
  }
  20%{
    opacity: 0;
  }
  21%{
    opacity: 1;
  }
  25%{
    opacity: 0;
  }
  30%{
    opacity: 0;
  }
  31%{
    opacity: 1;
  }
  35%{
    opacity: 0;
  }
  100%{
    opacity: 0;
  }
}


.header{
  margin-top: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column; 
}
.Timer-card{
  position: relative;
  font-size: medium;
  margin-top: 20px;
  margin-left: 20px;
  max-width: 150px;
  border-radius: 30px;
  background-color: rgb(66, 108, 248);
  box-shadow: 1px 10px 40px rgba(66, 108, 248,0.7); 
  text-align: center;
  border: none;
  height: 60px;
  overflow: hidden;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  transition: 0.5s;
}
.Timer{
  
  border-radius: 30px;
  padding:20px;
  font-size: large;
  
  border: 1.5px solid rgba(255,255,255,0.06);
  box-shadow: 0 25px 30px rgba(0,0,0,0.7); 
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.Timer-card:hover{
  height: 100px;
  background-color: rgb(235, 52, 97);
  box-shadow: 0 10px 30px rgba(235, 52, 97,0.7);
  margin-top: 10px;
}
.Date{
  margin-top: 10px;
}
.search-bar{
  
  z-index: 2;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;

}

.search{
  padding: 8px 10px;
  font-size: medium;
  border-radius: 5px;
  border: none;
  margin-right: 10px;
  color: #000;
}
.btn{
 padding: 0px 20px;
  font-size: medium;
  background-color:#426cf8;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.4s; 
  align-self:stretch;
}
.btn:hover{
  background-color: #ff5b84;
  color: white;
}

.search-container{
  margin-top: 10px;
  flex-basis: 400px;
  background-color: antiquewhite;
  max-height: 170px;
  overflow-y: scroll;
  border-radius: 10px;
  
 
}

.search-container::-webkit-scrollbar{
  border-radius: 20px;
  background:#426cf8;
  
}
.search-container::-webkit-scrollbar-thumb{
  background:#eb3461;
  border-radius: 30px;
}
.search-container div{
  padding: 10px;
  background-color: #ff5b84;
  margin: 10px;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.4s;
  opacity: 0.5;
}
.search-container div:hover{
  background-color: #426cf8;
  opacity: 1;
}
.card-head{
    margin-top: 10px;
}

.container{ 
  /* margin-top: 30px; */
  display: flex;
  flex-direction: column;
  align-items: center;
    
}
.container *{
  color: #ffffff;
 
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container-card{
  position:absolute;
  justify-self: flex-end;
  border: 1.5px solid rgba(255,255,255,0.06);
  box-shadow: 0 25px 30px rgba(0,0,0,0.7); 
  backdrop-filter: blur(12px);
  border-radius: 10px;
  order: 2;
  max-height: 300px;
  min-width: 300px;
  padding: 10px;
  /* text-align: center; */
}
.shape1{
  margin-top: 50px;
  height: 220px;
  width: 220px;
  background: linear-gradient(
      45deg,
      #ff5b84,
      #eb3461
  );
  border-radius: 50%;
  order: 1;

}
.sun{
  text-align: center;
  position: relative;
}
.sun span{
  position: relative;
  cursor: pointer;
  top: 17px;
  right: 4px;
  font-size: 45px;
  transition: 0.4s;
}
.sun span:hover{
  font-size: 50px;
}
.climate{
  position: absolute;
  top:7px;
  left: 220px;
  font-size: 40px;
  width: fit-content;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
}
.climate:hover{
  font-size: 50px;
}

